.about{
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    align-items: center;
    padding: 4rem 0 0 0;
}
.img-profile{
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.info-aboutme{
    width: 60%;
    margin: auto;
    padding: 3rem 0 0 0;
}

.info-title{
    text-align: center;
    padding: 3rem 0 3rem 0;
    width: 80%;
    margin: auto;
}

.info-aboutme-sections{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.info-aboutme-sections article h2{
    text-align: left;
    padding: 1.5rem 0;
}
.info-aboutme-sections article p{
    text-align: left;
}

/* EDUCATION ABOUTME */

.education-aboutme{
    width: 80%;
    margin: auto;
    padding: 3rem 0 0 0;
}

.education-title{
    text-align: center;
    padding: 0 0 3rem 0;
    width: 80%;
    margin: auto;
}

.education-aboutme-sections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.education-item{
    border-radius: 10px;
    height: min-content;
    padding: 1rem;
    border: 1px solid var(--clean-txt-color);
}

.education-item h2{
    text-align: left;
    font-size: 20px;
}
.education-item p{
    padding: 0.5rem 0;
    text-align: left;
    color: #2dc653;
}

.skill-aboutme{
    padding: 2rem 0;
}

@media (min-width: 900px){
    .about{
        width: 60%;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 900px) {
    .about{
        grid-template-columns: 1fr;
    }
    .about-txt{
        text-align: center;
    }
    .img-profile{
        padding: 2rem 0;
    }
        
    .info-aboutme{
        width: 90%;
        margin: auto;
    }

    .info-title{
        text-align: center;
        padding: 3rem 0;
        width: 90%;
        margin: auto;
    }

    .info-aboutme-sections{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .info-aboutme-sections article h2{
        text-align: center;
        padding: 1.5rem 0;

    }
    .info-aboutme-sections article p{
        text-align: center;
    }

/* EDUCATION ABOUTME */

.education-aboutme{
    width: 90%;
    margin: auto;
    padding: 3rem 0;
}

.education-title{
    text-align: center;
    padding: 3rem 0;
    width: 80%;
    margin: auto;
}

.education-aboutme-sections{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.education-item{
    border-radius: 10px;
    height: min-content;
    padding: 1rem;
    border: 1px solid var(--clean-txt-color);
}

.education-item h2{
    text-align: left;
    font-size: 20px;
}
.education-item p{
    padding: 0.5rem 0;
    text-align: left;
    color: #2dc653;
}



}

.about-txt h1{
    font-size: 2rem;
    color: var(--clean-txt-color);
    margin: 1rem 0;
}

.about-txt h2{
    font-size: 1.5rem;
    line-height: 1.4;
}

.img-profile img{
    border-radius: 100%;
    width: 60%;
}

.img-indev{
    filter: blur(0.3rem);
}

/* Colors */
.orange{
    color: #e67e22;
}
.white-blue{
    color: #3498db;
}
.dark-blue{
    color: #2980b9;
}
.yellow{     
    color: #f1c40f;
}
.white-red{
    color: #e74c3c;   
}
.dark-red{
    color: #e74c3c;   
}
.white-green{
    color: #2ecc71;
}
.dark-green{
    color: #27ae60;
}
.pink{
    color:#ff6b81;
}