.button{
    border-radius: 20px;
    width: auto;
    background-color: transparent;
    border: 3px solid var(--focus-txt-color);
    cursor: pointer;
}
.button p{
    padding: 1rem 2.5rem;
    color: var(--focus-txt-color);
    font-size: 1rem;
}

.button:hover:hover{
    border: 3px dashed var(--focus-txt-color);
}