.ubi-cont{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    gap: 0.5rem;
}

.ubi-txt{
    font-size: 20px;
    color: var(--focus-txt-color);
}


.ubi-state{
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: #2dc653;
    border: none;
}