.txthome{
    padding: 2rem 0;
    font-size: 30px;
    color: var(--focus-txt-color);
    line-height: 1.5;
    width: 50ch;
}
.start-home{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.icons-side{
    display: inline-grid;
}

.hitxt{
    font-size: 40px;
}



.social-section{
    display: flex;
    align-items: center;
}

.social-bar{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.social-icons{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* padding: 1.5rem; */
    width: 60px;
    height: 60px;
    border: 3px solid;
    border-radius: 20px;
    cursor: pointer;
}

.github-icon{
    color: #2dba4e;
}
.linkedin-icon{
    color:#0e76a8;
}

.social-icons:hover{
    border: 3px dashed;
}

@media (width <= 900px) {
    .txthome {
      width: 100%;
    }
    .start-home{
        flex-direction: column;
        height: auto;
    }

}
