.txthome{
    padding: 1em 0 0.5em 0;
    font-size: 25px;
    color: var(--nofocus-txt-color);
    line-height: 2;
}
.start-home{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.icons-side{
    display: inline-grid;
}
