.card{
    display: inline-block;
    margin: 1em 0;
}

.title-card{
    color: var(--clean-txt-color);
    font-size: 25px;
    padding: 0.5em 0;
}

.description-card{
    padding: 0.5em 0;
    color: var(--focus-txt-color);
    line-height: 1.5;
    font-size: 17px;
}

.img-card{
    width: 100%;
    border-radius: 20px;
}

.button-card{
    border-radius: 20px;
    width: auto;
    background-color: transparent;
    border: 3px solid var(--focus-txt-color);
    margin: 1em 1em 0 0;
    cursor:pointer;
}
.button-card p{
    padding: 1rem 2.5rem;
    color: var(--focus-txt-color);
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 10px;
}

.button-card:hover{
    /* background-color: var(--focus-txt-color); */
    border: 3px dashed var(--focus-txt-color);
}

.used-skills-cont{
    width: fit-content;
    margin: 0.5rem 0 0 0;
    padding: 0.5rem 0.8rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: dashed;
    border-color: var(--nofocus-txt-color);
}

.used-skills-txt{
    font-size: 14px;
    color: var(--clean-txt-color);
}



@media screen and (min-width: 800px) {
    .btn-cont{
        display: flex;
        /* grid-template-columns: 1fr 1fr; */
    }
  }
@media screen and (max-width: 800px) {
    .btn-cont {
    display: grid;
    grid-template-columns: 1fr;
    }
  }