.card{
    display: inline-block;
    margin: 1em 0;
}

.title-card{
    color: var(--clean-txt-color);
    font-size: 25px;
    padding: 1em 0;
}

.description-card{
    padding: 0 0 1em 0;
    color: var(--focus-txt-color);
    line-height: 1.5;
    font-size: 17px;
}

.img-card{
    width: 100%;
    border-radius: 20px;
}

.button-card{
    border-radius: 20px;
    width: auto;
    background-color: transparent;
    border: 3px solid var(--focus-txt-color);
    margin: 1em 0;
}
.button-card p{
    padding: 1rem 2.5rem;
    color: var(--focus-txt-color);
    font-size: 1rem;
}