.email-cont{
    /* background-color: red; */
    max-width: min-content;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border: 2px solid var(--focus-txt-color);
    border-radius: 20px;
    margin: 3rem auto;
}

.email-cont label{
    padding: 1rem 0.5rem;
    font-size: 17px;
}

.email-copy-cont{
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
}

.email-txt{
    background-color: transparent;
    border: 2px solid var(--focus-txt-color);
    padding: 1rem 2rem;
    border-radius: 20px;
    font-size:1em;
}

.email-btn{
    padding: 1rem 2rem;
    /* margin: 0 1rem; */
    background-color: transparent;
    border: 2px solid var(--focus-txt-color);
    /* border: none; */
    border-radius: 20px;
    cursor: pointer;
}

.email-btn:hover{
    border: 2px dashed;
}

@media screen and (width <= 1000px){
    .email-cont label{
        margin: auto;
    }
    .email-copy-cont{
        flex-direction: column;
    }
}