.navbar{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.name{
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
    padding: 2rem 0;
}

.name:hover{
    color: var(--clean-txt-color);
    transition: all 0.2s ease;
}

.menu{
    display: flex;
}
.menu li{
    padding: 2rem;
    display: flex;
    align-items: center;
}

.menu li a:hover{
    color: var(--clean-txt-color);
    transition: all 0.2s ease;
}