.skill{
    width: 10rem;
}

.skill p{
    margin: 0.5rem 0;
}

.skills{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 5rem 0;
}

.skill{
    border-radius: 2rem;
    border: 2px solid;
    padding: 1rem;
}