.skill{
    width: 10rem;
}

.skill p{
    margin: 0.5rem 0;
}

.skills{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.skill{
    width: fit-content;
    border-radius: 20px;
    border: 2px solid;
    padding: 1rem 1.5rem;
} 